{{- if and .Values.webhook.enabled .Values.webhook.pdb }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "conversion-webhook.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "conversion-webhook.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "conversion-webhook.selectorLabels" . | nindent 6 }}
{{ toYaml .Values.webhook.pdb | indent 2 }}
{{- end }}
